<div class="rounded-xl overflow-hidden" style="max-width: 600px;">
  <!-- Blue Header -->
  <div class="bg-primary p-4">
    <h2 class="text-xl text-center text-white font-bold">{{ data.title }}</h2>
  </div>

  <!-- Content -->
  <mat-dialog-content class="!p-0 !overflow-visible">
    <div class="p-5 bg-gray-50">
      @if(data.fields && data.buttons && doctorForm){
        <app-dynamic-form 
          [fields]="data.fields" 
          [buttons]="data.buttons"
          [form]="doctorForm"
          (submitForm)="onSubmit($event)">
        </app-dynamic-form>
      } @else if(data.message) {
        <div [innerHTML]="data.message"></div>
      }
    </div>
  </mat-dialog-content>

  <!-- Footer -->
  <mat-dialog-actions align="end" class="!p-4 !bg-gray-50">
    @if(!data.fields && data.buttons && data.buttons.length > 0) {
      @for(button of data.buttons; track button) {
        <button mat-button [color]="button.color || 'primary'"
          (click)="dialogRef.close(button.type === 'submit' ? true : false)" class="ml-2">
          @if(button.icon) {
            <i class="{{ button.icon }} me-2"></i>
          }
          {{ button.label }}
        </button>
      }
    } @else if(!data.fields) {
      <button mat-button mat-dialog-close class="px-6 py-2 bg-primary text-white rounded-lg hover:bg-primary/90 text-white">
        Close
      </button>
    }
  </mat-dialog-actions>
</div>