/* Remove Angular Material default scroll */
.mat-mdc-dialog-content {
  max-height: none !important;
  overflow: hidden !important;
  padding-right: 0 !important; /* remove extra scrollbar space */
}

/* Fix: Remove global hover selector that was causing form data to hide */
/* :hover { color: #fff !important; } */

::ng-deep .mat-dialog-container {
  max-width: none !important;
}
